<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="indexStyle.css">
</head>
<style>
	.divLogin
	{
		position: absolute;
		background:rgba(255,255,255,0.3);
		box-shadow: 0 3px 5px rgba(255, 0, 0, 0.3);
		border-radius: 20px;
		border-style: solid;
    	border-width: 2px;
	    padding: 20px;
	    top: 50%;
	    left: 50%;
	    margin-top: -75px;
	    margin-left: -175px;
	    width: 320px;
	    height: 120px;
	}​
</style>
<body>
	<div class="divLogin">
		<label id="lbName" style="position: absolute; top: 30px">Username</label>
		<input type="text" style="position: absolute; top: 25px; left: 110px" id="iName"
		placeholder="Username" required/>
		<label id="lbPassword" style="position: absolute; top: 70px">Password</label>
		<input type="text" placeholder="Password" required id="iPassword"
		style="position: absolute; top: 65px; left: 110px; -webkit-text-security: circle;" />
		<button id="btLogin" style="position: absolute; top: 110px; width: 320px; height: 40px;"  type="submit">Login</button>
	</div>
</body>
<script>
	nextRequestId = 0;

	var WebSocketMessage = function(payloadObject) {
		this.messageType = payloadObject.getCommandType();
		this.requestID = nextRequestId++;
		this.payload = payloadObject;
	};

	function onErrorMsg(payloadObject, requestID) {
		//TODO: Notify the user about the error and cancel request if applicable
		/*payloadObject.ErrorMsg
			payloadObject.Subsystem
		*/
	}

	function onAuthenticationResponse(payloadObject, requestID) {
		if (payloadObject.result == "auth_ok") {
			//TODO: Handle session tokens
			location.href = window.location.href.concat("content.html")
		} else {
			document.getElementById("iName").value = "";
			document.getElementById("iPassword").value = "";
		}
	}

	var messageHandlers = {
		10000 : onErrorMsg,
		10001 : onAuthenticationResponse
	};
	function dispatchMessageHandler(message) {
		//TODO: verify requestID
		//TODO: Error on unsupported message type
		messageHandlers[message.messageType](message.payload, message.requestID);
	}

	var AuthenticationRequest = function(username, password) {
		this.username = username;
		this.password = password;
	  this.getCommandType = function() {
			return 1;
		}
	};

	(function()
	{
		document.getElementById("iName").addEventListener("keydown", clickEnter);
		document.getElementById("iPassword").addEventListener("keydown", clickEnter);
		document.getElementById("btLogin").addEventListener("click", Login);

		var socket = new WebSocket("ws://localhost:8080/ws"),
				container = document.getElementById("container");

		socket.onmessage = function (e) {
			var msg = JSON.parse(e.data);
			dispatchMessageHandler(msg);
		};

		function clickEnter()
		{
			if (event.keyCode == 13)
			{
				document.getElementById('btLogin').click()
			}
		}
		function Login()
		{
			var credentials = new AuthenticationRequest(
				document.getElementById("iName").value,
				document.getElementById("iPassword").value
			);

			var msg = new WebSocketMessage(credentials);
			socket.send(JSON.stringify(msg));
			return socket;
		}
	})();
</script>
</html>
